body {
  font-family: sans-serif;
  --primary-brand-color: #4ceaea;
  --secondary-brand-color: #405cf5;
  --rounded_radius: 20px;
}

* {
    box-sizing: border-box;
}

h2 {
    color: var(--secondary-brand-color);;
}

a {
  color: var(--primary-brand-color);
  text-decoration: none;
  border: 2px solid var(--primary-brand-color);
  padding: 0.5em 1em;
  font-size: 14px;
  /* display: inline-block; */
  /* height: 32px; */
  /* vertical-align: middle; */
  border-radius: var(--rounded_radius);
}

strong {
  color: var(--primary-brand-color);
}
/* var(--primary-brand-color) to #fa6400;
var(--secondary-brand-color); to #405cf5 */
span {
    color: var(--primary-brand-color);
}

code {
    color: var(--secondary-brand-color);
}

button {
  border: none;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: var(--rounded_radius);
  font-size: 14px;
  font-family: inherit;
  height: 32px;
}

.previous-button {
  background-color: var(--primary-brand-color);
}

.next-button {
  background-color: var(--secondary-brand-color);;
}