*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: #CFDBEA;
    height: 100vh;
}
.form{
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 32px;
}

input{
    background-color: #EAEAEA;
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: none;
    font-size: 16px;
    border-radius: 4px;
}
.box{
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    
}
h1{
    color: rgb(72, 72, 187);
}
div{
 margin:13px;
 
 /* text-align: center; */
 /* justify-content: center; */
}
h1,button{
  
    margin: 9px;
}
.Name{
    display: none;
}
.login{
    width: 100%;
    padding: 12px;
    font-size: inherit;
    background-color: rgb(77, 77, 201);
    color: #CFDBEA;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s;
}
.login:hover{
    background-color: rgb(47, 47, 223);
}

a{
    text-decoration: none;
    /* text-align: left; */
     font-size: 20px;
       padding: 11px;
}
footer{
    text-align: center;
}
.link{
   text-align: center;
    margin-bottom: 12px;
    padding: 12px;
    cursor: pointer;
}
.signup{
    color: rgb(72, 72, 187);
}
.signup:hover{
    color: rgb(7, 7, 104);
}

@media screen and (max-width) {
    .form{
        /* width:100% */
    }
}