*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif
}
h1{
    text-align: center;
    text-shadow: #00000085;
    font-weight: 400;
}
.cont{
    /* margin-inline: 2rem; */
    border-radius: 10px;
    /* margin-bottom: 1.5rem; */
    display: grid;
    gap:2rem;
    /* padding-bottom: 2rem; */
    grid-template-areas: 
    'vio'
    'ora'
    'gren'
    'blue'
    'pur';
}
.box{
    min-height: 200px;
    font-size: 30px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center; 
}
.box1{
    background-color:#BA56F6;
    grid-area: vio;
    
}
.box2{
    background-color: #FF6161;
    grid-area: ora;
}
.box3{
background-color: #505CCA;
grid-area: blue;
}
.box4{
background-color: #3DAD99;
grid-area: gren;
}
.box5{
background-color: #BE3690;
grid-area: pur;
}
/* @media (min-width:720px){
    .cont{
        grid-template-columns: 1fr 1fr;
    }
    .box1, .box5{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    /* .box2{
        grid-column-start: 1;
        grid-column-end: 2;
    } */
    /* .box3{ */
        /* grid-column-start: 2;
        grid-column-end: 3; */
        /* grid-row-start: span 2; */
    /* } */
/* } */ 
 @media (min-width:720px){
    .cont{
        grid-template-areas:
        'vio vio'
        'ora blue'
        'gren blue'
        'pur pur' ;
    }
}

/* @media (min-width:1000px){
    .cont{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .box1{
        grid-column: span 2;
    }
    .box3{
        grid-column: span 2;
    }
    .box5{
        grid-column: span 2;
    }
} */

@media (min-width:1000px){
    .cont{
        grid-template-areas: 
    'vio vio ora blue'
    'gren pur pur blue';
    }

}
