*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background-color: rgba(245, 245, 245, 0.48);
}

.container{
    max-width:861.19px;
/* Height:358px; */
/* position: fixed; */
inset: 0;
margin-left:289px;
margin-top:183px;
margin-right:289px;
margin-bottom:483px;
}
#start{
    background: rgba(53, 189, 58, 1);
    position: fixed;
       max-Width: 288px;
    /* Height: 74px; */
    inset: 0;
    margin-left: 500px;
    margin-top: 513px;
    margin-right: 350px;
    margin-bottom: 483px;
border-radius: 9px;
border-color: green;
border-bottom: rgba(6, 53, 6, 0.918);
border-right: rgba(6, 53, 6, 0.918);
color: antiquewhite;
font-size: 40px;
}
/* #next-btn{
    display: none;
} */

button{
        background: rgba(53, 189, 58, 1);
    /* position: fixed; */
      max-Width: 288px;
    /* Height: 74px; */
    
border-radius: 9px;
border-color: green;
border-bottom: rgba(6, 53, 6, 0.918);
border-right: rgba(6, 53, 6, 0.918);
color: antiquewhite;
font-size: 40px;
}
.question{
    font-size: 26px;
    max-width: 1030px;
/* height: 151px; */
/* background-color: #fff; */
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.choice{
    /* background-color: #fff; */
    max-width: 100%;
/* height: 75px; */
display: flex;
flex-direction: column;
    gap:20px;
border-radius: 8px;
border-width: 3px;
    font-size: 20px;
     padding: 10px;
    /* margin: 10px auto; */
    margin-bottom: 12px;
}
.choiceL{
    max-width: 100%;
/* height: 75px; */
    display: flex;
    gap:12px;
    padding: 10px;
    /* margin: 10px auto; */
    margin-bottom: 12px;
    cursor: pointer;
     /* overflow: hidden; */
}
.shrink-move{
    max-width: 222px;
/* height: 92px; */
position: absolute;
    margin-top: -162px;
    margin-left: -32px;
}
.selected{
    background-color: blue;
    /* color: white; */
    /* max-width: 986px; */
    /* overflow: hidden; */

}
.alert{
    background-color: darksalmon;
    width: 100%;
    padding: 12px;
    display: none;
}
.timer{
    display: none;
}

