*{
    box-sizing: border-box;
    font-family: Nunito,sans-serif;
}
body{
    margin:0;
    background-color: black;
    color: aliceblue;
}
header{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    padding-inline: 12px;
}

.headerName{
    max-width:1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    font-weight: 800;
    
}
body h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 4rem;
}
span{
    color: brown;
}
span::after{
    content: '';
    display: inline-block;
    width: 3px;
    height: 55px;
    background-color: brown;

}
