body{
    margin: 0;
}
.one {
    background-color: blue;
   width: 300px;
   height: 300px;
   padding: 20px;
   border: 30px solid burlywood;
   margin: 40px;
   box-sizing: border-box;
   border-radius: 50%;
}

.Two {
    background-color: hotpink;
    width: 300px;
    height: 300px;
   padding: 30px;
   margin: 40px;
   border: 30px solid  greenyellow;
   box-sizing: border-box;
   border-radius: 50%;
   overflow: hidden;
}

