*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(67, 25, 122);
}

header nav{
 display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 12px 14px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-basis: 40%;
    display: flex;
}
a{
    color: aliceblue;
    text-decoration: none;
}
nav  li{
   font-size: 22px;
    margin-right: 12px;
}

ul li:not(:last-child) a:hover{
    text-decoration: underline 4px;
    color: cadetblue;
}
.btn{
    background: cadetblue;
    border-radius: 4px;
    padding: 10px 14px;

}
.btn:hover{
    background-color: rgb(21, 184, 130);
}
.svg1{
    max-width: 30px;
    background-color: #fff;
    display: none;
   
}
.close{
    display: none;
}
@media  (max-width:1024px) {
    .svg1{
        display: flex;
        cursor: pointer;
    }
    ul{
        display: none;
    }
    ul.file{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:62px;
        right: 0;
        width: 100%;
        padding: 12px;
        /* height: 400px; */
        background-color: rgb(67, 25, 122); 
        
    }
    .btn{
        padding: 4px 10px;
    }
    li{
        padding: 6px;
    }
    .close{
        font-size: 40px;
        color: #fff;
        cursor: pointer;
    }
}